# started with systemd timer. run and exit

[Unit]
Description="solar2ev daily inference execution"

[Service]

#StandardOutput=file:/home/pi/APP/systemd_timer.log 
StandardOutput=append:/home/pi/APP/systemd_timer_inference.log

#StandardError=syslog
StandardError=journal
# journalctl -u your-unit-name

ExecStart=/home/pi/APP/solar2ev/linux/start_solar2ev.sh -i